body{
  margin:0 auto;
  font-size:5em;
  text-align: center;
  background-color: #CABFAB;
  color: #52575d;
  /*41444B, DFD8C8,CABFAB,52575d*/
}
.inputDetails{
  border-bottom: 1px black solid;
  width:90%;
display: inline-block;
  height:40px;
}

h2{
  font-size: 75%;
  width: 100%;
  text-align: center;
}
.inputDetails{
     vertical-align: middle;
    font-size: 45%;
}
button{
  border: none;
  width:33.3%;
  display: block;
  float:left;
  height:50px;
  padding:0px;
  margin:0;
  border:lightgray solid 1px;
  color:#DFD8C8;
  background-color:#41444B;
  font-size:30%;
}
button[data-calc]{
  width:20%;
}
button[data-calc='enter']{
  width: 100%;
}